<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización de datos con ChartJS</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="./charts/css/chart_style.css">

</head>

<body>
  {{#each cryptos}}
    <p>{{ this }}</p>
  {{/each}}
    <br>
    <a class="btn btn-outline-light" href="https://bitcoin.org/" target="=_blank" role="button">bitcoin.org</a>
    <a class="btn btn-outline-light" href="https://github.com/bitcoin/bitcoin" target="=_blank" role="button">Source code</a><br>
    
    <br>
    <div class="card">
      <div class="card-header">
        Big Cap / BTCUSD
      </div>
      <div class="card-body">
        <h5 class="card-title"><b>What's Bitcoin BTC ?</b></h5><br>
        <p class="card-text">Bitcoin is a decentralized cryptocurrency originally described in a 2008 whitepaper by a person, or group of people, using the alias Satoshi Nakamoto. It was launched soon after, in January 2009.<br><br>

Bitcoin is a peer-to-peer online currency, meaning that all transactions happen directly between equal, independent network participants, without the need for any intermediary to permit or facilitate them. Bitcoin was created, according to Nakamoto s own words, to allow “online payments to be sent directly from one party to another without going through a financial institution.”<br><br>

Some concepts for a similar type of a decentralized electronic currency precede BTC, but Bitcoin holds the distinction of being the first-ever cryptocurrency to come into actual use.</p>
      </div>
    </div>

    <br><br><br>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const labels = [
          'January 19',
          'July 19',
          'March 20',
          'May 20',
          'Sept 21',
          'February 21',
          'April 21',
          'July 21',
          'September 21',
          'December 21',
          'November 21',
          'January 22',
          'February 22',
          'March 22',
          'April 22',
          'May 22',
          'June 22',
          'July 22',
        ];
      
        const data = {
          labels: labels,
          datasets: [{
            label: 'Bitcoin / USD',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [3845, 12000, 5200, 10700, 40200, 30400, 63000, 30000, 50000, 42000, 67000, 47296, 38438, 44000, 44716, 37800, 31370, 19400],
          }]
        };
      
        const config = {
          type: 'line',
          data: data,
          options: {}
        };
    </script>
      
    <script>
        const myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
    </script>

   
      

</body>

</html>